@tailwind base;
@tailwind components;
@tailwind utilities;
@import "hamburgers/dist/hamburgers.min.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "MADE Outer Sans Alt Black";
  src: url("/fonts/MADE Outer Sans Alt Black PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Alt Bold";
  src: url("/fonts/MADE Outer Sans Alt Bold PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Alt Light";
  src: url("/fonts/MADE Outer Sans Alt Light PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Alt Medium";
  src: url("/fonts/MADE Outer Sans Alt Medium PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Alt Regular";
  src: url("/fonts/MADE Outer Sans Alt Regular PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Alt Thin";
  src: url("/fonts/MADE Outer Sans Alt Thin PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Black";
  src: url("/fonts/MADE Outer Sans Black PERSONAL USE.otf") format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Bold";
  src: url("/fonts/MADE Outer Sans Bold PERSONAL USE.otf") format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Light";
  src: url("/fonts/MADE Outer Sans Light PERSONAL USE.otf") format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Medium";
  src: url("/fonts/MADE Outer Sans Medium PERSONAL USE.otf") format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Alt Black";
  src: url("/fonts/MADE Outer Sans Outline Alt Black PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Alt Bold";
  src: url("/fonts/MADE Outer Sans Outline Alt Bold PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Alt Light";
  src: url("/fonts/MADE Outer Sans Outline Alt Light PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Alt Medium";
  src: url("/fonts/MADE Outer Sans Outline Alt Medium PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Alt Regular";
  src: url("/fonts/MADE Outer Sans Outline Alt Regular PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Alt Thin";
  src: url("/fonts/MADE Outer Sans Outline Alt Thin PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Black";
  src: url("/fonts/MADE Outer Sans Outline Black PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Bold";
  src: url("/fonts/MADE Outer Sans Outline Bold PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Light";
  src: url("/fonts/MADE Outer Sans Outline Light PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Medium";
  src: url("/fonts/MADE Outer Sans Outline Medium PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Regular";
  src: url("/fonts/MADE Outer Sans Outline Regular PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Outline Thin";
  src: url("/fonts/MADE Outer Sans Outline Thin PERSONAL USE.otf")
    format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Regular";
  src: url("/fonts/MADE Outer Sans Regular PERSONAL USE.otf") format("opentype");
}

@font-face {
  font-family: "MADE Outer Sans Thin";
  src: url("/fonts/MADE Outer Sans Thin PERSONAL USE.otf") format("opentype");
}

.menu-link {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-overlay {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.content .text {
  position: relative;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.content .text:before,
.content .text:after {
  color: white;
  content: attr(data-text);
  position: absolute;
  background: #09090b;
  overflow: hidden;
}
.content .text:before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-1 3s linear infinite reverse;
}
.content .text:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 3s linear infinite reverse;
}
@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}
